<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>Betterflow</string>
  <key>CFBundleExecutable</key>
  <string>Betterflow</string>
  <key>CFBundleIdentifier</key>
  <string>com.zachsents.betterflow</string>
  <key>CFBundleIconFile</key>
  <string>Betterflow.icns</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Betterflow</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSMicrophoneUsageDescription</key>
  <string>Betterflow needs microphone access to transcribe your speech.</string>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>SUFeedURL</key>
  <string>https://github.com/zachsents/betterflow/releases/latest/download/appcast.xml</string>
  <key>SUPublicEDKey</key>
  <string>LPcvS/kxwV+8I+34Enq5JHz9Svw5YqZG0QocCbI58Vc=</string>
</dict>
</plist>
